/* custom classes */
a, a:hover{
  text-decoration: none;
}

.kurierchikof-rs-modal .left-col{
  position: relative;
  background-color: #fff;
  width: 58%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.kurierchikof-rs-modal .right-col{
  position: relative;
  height: 358px;
  width: 42%;
  background: url('../img/bg.jpg') 50% 50% no-repeat;
  background-size: cover;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.kurierchikof-rs-modal .btn-group{
  margin-top: 10px;
}

.kurierchikof-rs-modal .input-field{
  background-color: #f4f8f7 !important;
  color: #929594 !important;
  border: none;
  outline: none;
  border-radius: 0;
}

.kurierchikof-rs-modal .custom-btn-enter{
  background-color: #54af3a;
  color: #fff;
  padding: 8px 28px 9px 28px;
  font-weight: bold;
  font-size: 13px;
  border: none;
  line-height: 1.538;
  text-align: center;
}

.kurierchikof-rs-modal .custom-btn-enter:hover{
  color: #fff;
}

.kurierchikof-rs-modal .custom-link-pass{
  margin-left: 19px;
  font-size: 13px;
  color: rgb(146, 149, 148);
  font-weight: bold;
}

.kurierchikof-rs-modal .custom-text-msg{
  font-size: 12px;
  color: rgb(146, 149, 148);
  line-height: 1.2;
  text-align: left;
  height: 40px;
  margin-top: 21px;
  padding-right: 15px;
  padding-left: 7px;
}

.kurierchikof-rs-modal .custom-text-msg a{
  color: rgb(146, 149, 148);
  text-decoration: underline;
}

.kurierchikof-rs-modal .custom-btn-close{
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 999;
  background: url('../img/close.png') 50% 50% no-repeat !important;
  background-size: cover !important;
  width: 14px;
  height: 14px;
  opacity: 1;
}

.kurierchikof-rs-modal .custom-modal-title-grey{
  font-size: 26px;
  color: rgb(68, 68, 68);
  font-weight: 500;
}

.kurierchikof-rs-modal .custom-modal-title-white{
  color: #fff;
  font-size: 26px;
  font-weight: 500;
  text-align: center;
}

.kurierchikof-rs-modal .custom-modal-caption{
  font-size: 13px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  line-height: 1.538;
  text-align: center;
  margin-top: 2px;
  padding: 0 20px;
}

.kurierchikof-rs-modal .custom-btn-default{
  color: #fff;
  border-color: #fff;
  background-color: transparent;
  padding: 8px 18px 9px 18px;
  margin-top: 0px;
  font-size: 13px;
  line-height: 1.538;
  text-align: center;
}

.kurierchikof-rs-modal .custom-btn-default:hover{
  background-color: transparent;
  color: #fff;
  border-color: #fff;
}

.kurierchikof-rs-modal .right-col-img{
  position: absolute;
  bottom: 0%;
  right: -7%;
  width: 100%;
  height: auto;
}

.kurierchikof-rs-modal .left-col-img{
  position: absolute;
  top: -8%;
  left: -9.5%;
  width: 126px;
  height: 99px;
}

.kurierchikof-rs-modal .m-t-31{
  margin-top: 31px;
}

.kurierchikof-rs-modal .do-flex{
  display: flex;
}

.kurierchikof-rs-modal .do-direction-column{
  flex-direction: column;
}

.kurierchikof-rs-modal .do-align-center{
  align-items: center;
}

/* style fas */
.kurierchikof-rs-modal .inner-addon {
  position: relative;
}

.kurierchikof-rs-modal .inner-addon .fas {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color: #929594;
}

/* align fas */
.kurierchikof-rs-modal .left-addon .fas  { left:  15px;}
.kurierchikof-rs-modal .right-addon .fas { right: 0px;}

/* add padding  */
.kurierchikof-rs-modal .left-addon input  { padding-left: 34px; }
.kurierchikof-rs-modal .right-addon input { padding-right: 30px; }

/* reload bootsrap classes */
.kurierchikof-rs-modal .modal-content{
  box-shadow: none;
}

.kurierchikof-rs-modal .row{
  display: flex;
  margin-right: -16px;
  margin-left: -16px;
}

.kurierchikof-rs-modal .modal-dialog{
  width: 711px ;
  height: 358px !important;
  font-family: 'Open Sans', sans-serif;
  margin: 100px auto;
}

@media (max-width: 768px) {
  .kurierchikof-rs-modal .modal-dialog{
    width: 600px;
  }

  .kurierchikof-rs-modal .left-col-img{
    top: -10%;
    left: -12%;
  }

  .kurierchikof-rs-modal .form-horizontal{
    margin-left: 0 !important;
  }

  .kurierchikof-rs-modal .custom-modal-title-grey,
  .kurierchikof-rs-modal .custom-modal-title-white{
    font-size: 23px;
  }
}

.kurierchikof-rs-modal .modal-title{
  margin-top: 49px;
}

.kurierchikof-rs-modal .form-horizontal{
  margin-left: 30px;
}

.kurierchikof-rs-modal .modal-header{
  border-bottom: none;
}

.kurierchikof-rs-modal .modal-body{
  padding-top: 0;
  padding-bottom: 0;
}

.kurierchikof-rs-modal .modal-content{
  border-radius: 15px; 
  border: none;
  outline: none;
  box-shadow: none;
}

.kurierchikof-rs-modal .form-group{
  margin-bottom: 10px;
}