/* custom styles */
.kurierchikof-rs-form-recovery .custom-form-head{
  font-size: 35px;
  color: rgb(66, 66, 66);
  text-transform: uppercase;
  line-height: 0.571;
  text-align: center;
  margin-top: 61px;
  margin-bottom: 47px;
}

.kurierchikof-rs-form-recovery .custom-form-label{
  font-size: 14px;
  color: rgb(66, 66, 66);
  line-height: 1.2;
}

.kurierchikof-rs-form-recovery .custom-kod-caption{
  font-size: 12px;
  color: rgb(146, 149, 148);
  line-height: 1.667;
  text-align: left;
  margin-bottom: 0;
  background-color: transparent;
  border: none;
  outline: none;
}

.kurierchikof-rs-form-recovery .custom-kod-caption:hover{
  text-decoration: none;
}

.kurierchikof-rs-form-recovery .custom-kod-caption i{
  margin-right: 6px;
}

.kurierchikof-rs-form-recovery .custom-btn-enter{
  background-color: rgb(84, 175, 58);
  font-size: 13px;
  color: #fff;
  font-weight: bold;
  line-height: 1.538;
  text-align: center;
  padding: 12px 26px 10px 26px;
}

.kurierchikof-rs-form-recovery .custom-btn-enter:hover{
  color: #fff;
}

.kurierchikof-rs-form-recovery .custom-enter-msg{
  font-size: 12px;
  color: rgb(146, 149, 148);
  line-height: 1.2;
  text-align: left;
  margin-bottom: 0;
  margin-left: 16px;
}

.kurierchikof-rs-form-recovery .custom-enter-msg a{
  color: rgb(146, 149, 148);
  text-decoration: underline;
}

.kurierchikof-rs-form-recovery .do-flex{
  display: flex;
  align-items: center;
}

.kurierchikof-rs-form-recovery .flex-direction-column{
  flex-direction: column
}

.kurierchikof-rs-form-recovery .m-b-20{
  margin-bottom: 20px;
}

.kurierchikof-rs-form-recovery .m-b-10{
  margin-bottom: 10px;
} 

.kurierchikof-rs-form-recovery .w-150{
  width: 150px;
}

.kurierchikof-rs-form-recovery .m-l-10{
  margin-left: 10px;
}

.kurierchikof-rs-form-recovery .rec-kod{
  display: block;
  width: 100%;
  height: auto;
}

@media (max-width: 1000px) {
  .kurierchikof-rs-form-recovery .form-group{
    width: 70% !important;
  }
}

@media (max-width: 768px) {
  .kurierchikof-rs-form-recovery .form-group{
    width: 90% !important;
  }
}

@media (max-width: 568px) {
  
  .kurierchikof-rs-form-recovery .form-group{
    width: 100%;
  }

  .kurierchikof-rs-form-recovery .form-horizontal{
    padding: 0;
  }

  .kurierchikof-rs-form-recovery .custom-form-head{
    line-height: 1.2;
  }

  .kurierchikof-rs-form-recovery .do-flex-direction-column{
    flex-direction: column;
  }
  
  .kurierchikof-rs-form-recovery .custom-btn-enter{
    margin-bottom: 15px;
  }

  .kurierchikof-rs-form-recovery .custom-enter-msg{
    margin-left: 0;
  }
}

@media (max-width: 384px) {
  .kurierchikof-rs-form-recovery .custom-form-head{
    font-size: 27px;
  }
}


/* reload bootrap styles */
.kurierchikof-rs-form-recovery .form-horizontal{
  font-family: 'Open Sans', sans-serif; 
}

.kurierchikof-rs-form-recovery .form-group input{
  background-color: #f4f8f7;
  border-radius: 0;
  color: #929594;
  border: none;
  outline: none;
}

.kurierchikof-rs-form-recovery .form-group{
  width: 55%;
}