@font-face {
  font-family: 'Myriad Pro Regular';
  src: url('../fonts/MyriadPro-Regular.eot');
  src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadPro-Regular.woff') format('woff'),
  url('../fonts/MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: 'Open Sans Regular';
  src: url('../fonts/OpenSans-Regular.eot');
  src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-Regular.woff') format('woff'),
  url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.kurierchikof-rs-form-recovery p,
.kurierchikof-rs-form-recovery h1,
.kurierchikof-rs-form-recovery h2,
.kurierchikof-rs-form-recovery h3,
.kurierchikof-rs-form-recovery h4,
.kurierchikof-rs-form-recovery h5,
.kurierchikof-rs-form-recovery h6,
.kurierchikof-rs-form-recovery a,
.kurierchikof-rs-form-recovery button,
.kurierchikof-rs-form-recovery div,
.kurierchikof-rs-form-recovery span{
  font-family: 'Open Sans Regular', sans-serif;
}

.kurierchikof-rs-form-recovery button:active, 
.kurierchikof-rs-form-recovery button:active{
  outline: none !important;
  box-shadow: none !important;
}

.kurierchikof-rs-form-recovery button::-moz-focus-inner {
  border: 0 !important;
  box-shadow: none !important;
}

/* custom styles */

.kurierchikof-rs-form-recovery .custom-form-head {
  font-size: 35px;
  color: rgb(66, 66, 66);
  text-transform: uppercase;
  line-height: 0.571;
  text-align: center;
  margin-top: 61px;
  margin-bottom: 37px;
}

.kurierchikof-rs-form-recovery .custom-form-label {
  font-size: 14px;
  color: #424242;
  line-height: 1.2;
  font-weight: normal;
}

.kurierchikof-rs-form-recovery .custom-kod-caption {
  font-size: 12px;
  color: rgb(146, 149, 148);
  line-height: 1.667;
  text-align: left;
  margin-bottom: 0;
  background-color: transparent;
  border: none;
  outline: none;
}

.kurierchikof-rs-form-recovery .custom-kod-caption:hover {
  text-decoration: none;
}

.kurierchikof-rs-form-recovery .custom-kod-caption i {
  margin-right: 6px;
}

.kurierchikof-rs-form-recovery .custom-btn-enter {
  background-color: rgb(84, 175, 58);
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  line-height: 1.538;
  text-align: center;
  padding: 10px 33px 9px 33px;
  font-family: 'Myriad Pro Regular', sans-serif;
  letter-spacing: .33px;
}

.kurierchikof-rs-form-recovery .custom-btn-enter:hover {
  color: #fff;
}

.kurierchikof-rs-form-recovery .custom-enter-msg {
  font-size: 12px;
  color: rgb(146, 149, 148);
  line-height: 1.2;
  text-align: left;
  margin-bottom: 0;
  margin-left: 16px;
}

.kurierchikof-rs-form-recovery .custom-enter-msg a {
  color: rgb(146, 149, 148);
  text-decoration: underline;
}

.kurierchikof-rs-form-recovery .custom-img-wrapper {
  width: 120px;
  height: 50px;
}

.kurierchikof-rs-form-recovery .do-flex {
  display: flex;
  align-items: center;
}

.kurierchikof-rs-form-recovery .flex-direction-column {
  flex-direction: column;
}

.kurierchikof-rs-form-recovery .m-b-20 {
  margin-bottom: 20px;
}

.kurierchikof-rs-form-recovery .m-b-10 {
  margin-bottom: 10px;
}

.kurierchikof-rs-form-recovery .m-l-10 {
  margin-left: 10px;
}

.kurierchikof-rs-form-recovery .m-t-15 {
  margin-top: 15px;
}

.kurierchikof-rs-form-recovery .rec-kod {
  display: block;
  width: 100%;
  height: auto;
}

/* reload bootrap styles */

.kurierchikof-rs-form-recovery .form-group input {
  background-color: #f4f8f7;
  border-radius: 0;
  color: #929594;
  border: none;
  outline: none;
}

.kurierchikof-rs-form-recovery .form-group {
  width: 55%;
}

@media (max-width: 1000px) {
  .kurierchikof-rs-form-recovery .form-group {
    width: 70% !important;
  }
}

@media (max-width: 768px) {
  .kurierchikof-rs-form-recovery .form-group {
    width: 90% !important;
  }
}

@media (max-width: 568px) {
  .kurierchikof-rs-form-recovery .form-group {
    width: 100%;
  }

  .kurierchikof-rs-form-recovery .form-horizontal {
    padding: 0;
  }

  .kurierchikof-rs-form-recovery .custom-form-head {
    line-height: 1.2;
  }

  .kurierchikof-rs-form-recovery .do-flex-direction-column {
    flex-direction: column;
  }

  .kurierchikof-rs-form-recovery .custom-btn-enter {
    margin-bottom: 15px;
    align-self: flex-start;
  }

  .kurierchikof-rs-form-recovery .custom-enter-msg {
    margin-left: 0;
    width: 100%;
  }
}

@media (max-width: 384px) {
  .kurierchikof-rs-form-recovery .custom-form-head {
    font-size: 27px;
  }
}