/* custom styles */
.custom-form-head{
  font-size: 35px;
  color: rgb(66, 66, 66);
  text-transform: uppercase;
  line-height: 0.571;
  text-align: center;
  margin-top: 61px;
}

.custom-form-caption{
  font-size: 18px;
  color: rgb(97, 97, 97);
  line-height: 1.2;
  text-align: center;
  margin-top: 29px;
  margin-bottom: 45px;
  padding: 0 15px;
}

.custom-btn-reg{
  background-color: rgb(84, 175, 58);
  font-size: 13px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.538;
  text-align: center;
  padding: 11px 23px 10px 22px;
  margin-right: 18px;
}

.custom-btn-reg:hover{
  color: #fff;
}

.custom-reg-msg{
  font-size: 12px;
  color: rgb(146, 149, 148);
  line-height: 1.2;
  text-align: left;
  margin-bottom: 0;
}

.do-flex{
  display: flex;
  align-items: center;
}

@media (max-width: 470px) {
  .do-flex{
    flex-direction: column;
  }

  .custom-reg-msg{
    margin-top: 15px;
  }
}

/* style fas */
.inner-addon .fas {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color: #929594;
}

/* align fas */
.left-addon .fas { 
  left:  15px;
}
.right-addon .fas { 
  right: 0px;
}

/* add padding  */
.left-addon input{ 
  padding-left: 34px; 
}

.left-addon select{
  padding-left: 30px;
}

.right-addon input,
.left-addon select{ 
  padding-right: 30px; 
}

.m-b-12{
  margin-bottom: 12px;
}

.m-t-11{
  margin-top: 11px;
}

/* reload bootrap styles */
.form-horizontal{
  font-family: 'Open Sans', sans-serif; 
}

.form-group input,
.form-group select{
  border-radius: 0;
  background-color: #f4f8f7;
  color: #929594;
  border: none;
  outline: none;
}