@font-face {
  font-family: 'Myriad Pro Regular';
  src: url('../fonts/MyriadPro-Regular.eot');
  src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadPro-Regular.woff') format('woff'),
  url('../fonts/MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: 'Open Sans Regular';
  src: url('../fonts/OpenSans-Regular.eot');
  src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-Regular.woff') format('woff'),
  url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.kurierchikof-rs-form-reg p,
.kurierchikof-rs-form-reg h1,
.kurierchikof-rs-form-reg h2,
.kurierchikof-rs-form-reg h3,
.kurierchikof-rs-form-reg h4,
.kurierchikof-rs-form-reg h5,
.kurierchikof-rs-form-reg h6,
.kurierchikof-rs-form-reg a,
.kurierchikof-rs-form-reg button,
.kurierchikof-rs-form-reg div,
.kurierchikof-rs-form-reg span{
  font-family: 'Open Sans Regular', sans-serif;
}

.kurierchikof-rs-form-reg button:active, 
.kurierchikof-rs-form-reg button:active{
  outline: none !important;
  box-shadow: none !important;
}

.kurierchikof-rs-form-reg button::-moz-focus-inner {
  border: 0 !important;
  box-shadow: none !important;
}

.kurierchikof-rs-form-reg select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.kurierchikof-rs-form-reg select::-ms-expand {
  display: none;
}

.kurierchikof-rs-form-reg select:hover {
  cursor: pointer;
}

/* custom styles */

.kurierchikof-rs-form-reg .custom-form-head {
  font-size: 35px;
  color: rgb(66, 66, 66);
  text-transform: uppercase;
  line-height: 0.571;
  text-align: center;
  margin-top: 61px;
}

.kurierchikof-rs-form-reg .custom-form-caption {
  font-size: 18px;
  color: rgb(97, 97, 97);
  line-height: 1.2;
  text-align: center;
  margin-top: 29px;
  margin-bottom: 35px;
  padding: 0 15px;
}

.kurierchikof-rs-form-reg .custom-btn-reg {
  font-family: 'Myriad Pro Regular', sans-serif;
  background-color: rgb(84, 175, 58);
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-weight: normal;
  text-align: center;
  padding: 10px 32px 9px 32px;
  margin-right: 18px;
  letter-spacing: .33px;
}

.kurierchikof-rs-form-reg .custom-btn-reg:hover {
  color: #fff;
}

.kurierchikof-rs-form-reg .custom-reg-msg {
  font-size: 12px;
  color: rgb(146, 149, 148);
  line-height: 1.2;
  text-align: left;
  margin-bottom: 0;
}

.kurierchikof-rs-form-reg .do-flex {
  display: flex;
  align-items: center;
}

/* style fas */

.kurierchikof-rs-form-reg .inner-addon .fas {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color: #929594;
}

/* align fas */

.kurierchikof-rs-form-reg .left-addon .custom-icon {
  left: 20px;
  top: 2px;
}

.kurierchikof-rs-form-reg .left-addon .custom-arrow-down,
.kurierchikof-rs-form-reg .left-addon .custom-arrow-down15 {
  top: 0px;
  font-size: 14px;
}

.kurierchikof-rs-form-reg .left-addon .custom-arrow-down{
  right: 25px;
}

/* add padding  */

.kurierchikof-rs-form-reg .left-addon input {
  padding-left: 39px;
}

.kurierchikof-rs-form-reg .left-addon select {
  padding-left: 39px;
}

.kurierchikof-rs-form-reg .left-addon select {
  padding-right: 30px;
}

.kurierchikof-rs-form-reg .m-b-12 {
  margin-bottom: 12px;
}

.kurierchikof-rs-form-reg .m-t-11 {
  margin-top: 11px;
}

/* reload bootrap styles */

.kurierchikof-rs-form-reg .form-group input,
.kurierchikof-rs-form-reg .form-group select {
  border-radius: 0;
  background-color: #f4f8f7;
  color: #929594;
  border: none;
  outline: none;
  height: 39px;
  box-shadow: none;
}

@media (min-width: 992px) {
  .kurierchikof-rs-form-reg .p-r-0 {
    padding-right: 0 !important;
  }

  .kurierchikof-rs-form-reg .p-l-0 {
    padding-left: 0 !important;
  }

  .kurierchikof-rs-form-reg .p-l-0 .custom-icon {
    left: 5px !important;
  }

  .kurierchikof-rs-form-reg .p-l-7_5 {
    padding-left: 7.5px !important;
  }

  .kurierchikof-rs-form-reg .p-r-7_5 {
    padding-right: 7.5px !important;
  }

  .kurierchikof-rs-form-reg .left-addon .custom-arrow-down15{
    right: 10px !important;
  }
}

@media (max-width: 470px) {
  .kurierchikof-rs-form-reg .do-flex {
    flex-direction: column;
    align-items: flex-start;
  }

  .kurierchikof-rs-form-reg .custom-reg-msg {
    margin-top: 15px;
    width: 100%;
  }
}